<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
        <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Calcagni Gabriel">
    <meta property="og:title" content="NeoTecs Tutoriales">
    <meta property="og:description" content="Los tutoriales de NeoTecs están diseñados para ayudar a las personas a configurar correctamente sus antenas inalámbricas y lograr la mejor calidad de señal posible.">
    <meta property="og:url" content="https://neotecs.tech">
    <meta property="og:image" content="img/Image-og.png">
    <meta name="google-site-verification" content="B_8uiFikk4mMtkPKHvNIlg3PyqQqHjGvpvVg5-WKU4w" />
    <link rel="stylesheet" type="text/css" href="estilos.css?v=3.05">
    <link rel="icon" type="image/x-icon" href="img/wifi.png">
    <title>Políticas de Uso y Condiciones</title>
    <link rel="stylesheet" href="styles.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- MENU ENCABEZADO -->

    <div class="contenedor-header">

        <header>
            <div class="logo" id="#top">
                <span>NeoTecs<br><span class="color-acento">Tutotriales</span></span>
            </div>
            <button id="menuBtn"><i class="fa-solid fa-bars"></i></button>
            <button id="menuBtnClose">❌</button>
            <nav id="nav">
                <ul>
                    <li><a href="index.html" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="index.html#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                    <li><a href="index.html#contacto" onclick="seleccionar()">CONTACTO</a></li>
                </ul>
        <div class="redes">
          <div id="container">
            <div class="search-box">
              <input class="search-form-input" type="search" name="search" placeholder="Buscar..." id="searchInput">
              <details id="dropdown" class="dropdown">
                <summary class="dropdown-button">
                  <span id="selected-item" class="selected-item">Todo</span>
                </summary>
                <details-menu class="dropdown-menu">
                  <div class="dropdown-menu-header">Marca de la antena</div>
                  <div class="dropdown-menu-list">
                    <label class="dropdown-menu-item">
                      <input type="radio" name="item" value="Todas" checked>
                      <span>Todas</span>
                    </label>
                    <label class="dropdown-menu-item">
                      <input type="radio" name="item" value="Tp-link">
                      <span>TP-LINK</span>
                    </label>
                    <label class="dropdown-menu-item">
                      <input type="radio" name="item" value="Ubiquiti">
                      <span>UBIQUITI</span>
                    </label>
                    <label class="dropdown-menu-item">
                      <input type="radio" name="item" value="Mikrotik">
                      <span>MIKROTIK</span>
                    </label>
                  </div>
                </details-menu>
              </details>
            </div>
          </div> 
              <hr>
        <button title="Facebook" onclick="compartirFacebook()"><i id="facebook" class="fa-brands fa-facebook-f"></i></button>
        <button title="Twitter" onclick="compartirTwitter()"><i id="twitter" class="fa-brands fa-twitter"></i></button>
        <button title="Whatsapp" onclick="compartirWhatsapp()"><i id="whatsapp" class="fa-brands fa-whatsapp"></i></button>
        <button title="Linked In" onclick="compartirLinkedIn()"><i id="linkedin" class="fa-brands fa-linkedin"></i></button>
        </div>
          </nav>
        </header>
    </div>
  
        <section id="programas-pc">
            <div id="aprende">
                <div class="politicas">
            <h2>Política y Condiciones de uso</h2>
      
            <h3>1. Propósito del Sitio Web</h3>
            <p>Nuestro sitio web tiene como objetivo proporcionar tutoriales, guías y consejos para ayudarte a
                configurar antenas inalámbricas. La información proporcionada es solo con fines informativos y
                educativos. No nos responsabilizamos por
                cualquier mal uso, daño o pérdida resultante de la implementación de la información proporcionada en
                nuestros tutoriales.</p>
 
            <h3>2. Exactitud de la Información</h3>
            <p>Nos esforzamos por proporcionar información precisa y actualizada en nuestro sitio web. Sin embargo, no
                garantizamos la precisión, integridad o idoneidad de la información presentada. La utilización de
                cualquier información o materiales de este sitio web es bajo tu propio riesgo. Recomendamos verificar la
                información y consultar fuentes adicionales antes de realizar cualquier configuración o modificación en
                tus antenas inalámbricas.</p>
        

            <h3>3. Responsabilidad del Usuario</h3>
            <p>Eres responsable de cualquier acción que realices basada en la información proporcionada en nuestro sitio
                web. Debes tener en cuenta que la configuración de antenas inalámbricas puede requerir conocimientos
                técnicos y habilidades específicas. Si no estás seguro(a) de cómo proceder, te recomendamos buscar la
                asistencia de un profesional cualificado. No nos hacemos responsables de ningún daño, pérdida o
                inconveniente causado por un uso inadecuado de los tutoriales o por errores en su implementación.</p>
       
            <h3>4. Propiedad Intelectual</h3>
            <p>Todos los derechos de propiedad intelectual, incluyendo derechos de autor y marcas registradas,
                asociados con el contenido, diseño y logotipos de nuestro sitio web, son propiedad nuestra o de nuestros
                respectivos licenciatarios. No está permitida la reproducción, distribución o modificación del contenido
                sin nuestro consentimiento previo por escrito.</p>
     
            <h3>5. Enlaces a Terceros</h3>
            <p>Nuestro sitio web puede incluir enlaces a otros sitios web o recursos proporcionados por terceros. Estos
                enlaces se proporcionan únicamente para tu conveniencia y no implican que respaldemos o tengamos control
                sobre el contenido de dichos sitios web. No nos hacemos responsables de ningún daño o pérdida resultante
                del uso de estos enlaces.</p>
        
            <h3>6. Modificaciones en el Sitio Web</h3>
            <p>Nos reservamos el derecho de modificar, suspender o interrumpir cualquier aspecto de nuestro sitio web,
                incluyendo los tutoriales y la información proporcionada, en cualquier momento y sin previo aviso. No
                nos hacemos responsables de ninguna consecuencia que surja de dichas modificaciones.</p>
       
            <h3>7. Privacidad</h3>
            <p>La recopilación y el uso de tus datos personales se rigen por nuestra Política de Privacidad separada. Al
                utilizar nuestro sitio web, aceptas los términos de nuestra Política de Privacidad.</p>
        
            <h3>8. Ley Aplicable y Jurisdicción</h3>
            <p>Estas políticas de uso y condiciones se rigen e interpretan de acuerdo con las leyes del país en el que
                está registrado nuestro sitio web. Cualquier disputa que surja en relación con estas políticas se
                someterá a la jurisdicción exclusiva de los tribunales competentes en esa jurisdicción.</p>
                <hr>
                <div class="cookies-politicas" id="cookies">
                  <div class="actualizacion-politicas">
    <h3><i class="fa-solid fa-cookie-bite"></i> Política y Condiciones de Cookies</h3>
    <h3>¿Qué son las cookies?</h3>
                  </div>
    <p>Una cookie es un pequeño archivo de texto que se almacena en tu dispositivo cuando visitas un sitio web. Las cookies desempeñan varias funciones, como permitir que el sitio web reconozca tu dispositivo, recordar tus preferencias y mejorar tu experiencia de usuario.</p>

    <h3>¿Qué tipos de cookies utilizamos?</h3>
    <ul>
        <li>Cookies esenciales: Estas cookies son necesarias para el funcionamiento básico del sitio web y no se pueden desactivar en nuestros sistemas.</li>
        <li>Cookies de rendimiento: Estas cookies recopilan información sobre cómo utilizas nuestro sitio web y nos ayudan a mejorarlo. No recopilan información que pueda identificarte personalmente.</li>
        <li>Cookies de funcionalidad: Estas cookies permiten que nuestro sitio web recuerde las elecciones que realizas (como tu nombre de usuario, idioma o región) y brindan funciones mejoradas y más personalizadas.</li>
        <li>Cookies de publicidad: Estas cookies se utilizan para mostrarte anuncios relevantes para ti y tus intereses. También se utilizan para limitar la frecuencia con la que ves un anuncio y medir la efectividad de las campañas publicitarias.</li>
    </ul>

    <h3>¿Cómo puedo gestionar las cookies?</h3>
    <p>Puedes gestionar las cookies a través de la configuración de tu navegador. Ten en cuenta que si desactivas o eliminas ciertas cookies, es posible que algunas partes de nuestro sitio web no funcionen correctamente.</p>

    <h3>Política de privacidad</h3>
    <p>Para obtener más información sobre cómo recopilamos, utilizamos y protegemos tus datos personales, consulta nuestra política de privacidad de datos:</p>

    
    <h3>Compartir información</h3>
    <p>No vendemos, alquilamos ni compartimos tu información personal con terceros sin tu consentimiento, excepto en casos limitados como cumplimiento de la ley, protección de nuestros derechos o seguridad del sitio web.</p>

    <h3>Cookies</h3>
    <p>Utilizamos cookies y tecnologías similares para recopilar información sobre tu visita y mejorar tu experiencia en nuestro sitio web. Puedes consultar nuestra <a href="cookie-details.html">política de cookies</a> para obtener más detalles.</p>

    <h3>Enlaces a sitios de terceros</h3>
    <p>Nuestro sitio web puede contener enlaces a sitios de terceros. No nos hacemos responsables de las prácticas de privacidad o el contenido de dichos sitios. Te recomendamos leer las políticas de privacidad de los sitios de terceros que visites.</p>

    <h3>Seguridad de la información</h3>
    <p>Implementamos medidas de seguridad para proteger tu información personal y mantenerla segura. Sin embargo, ten en cuenta que ninguna medida de seguridad es completamente infalible.</p>

    <h3>Tus derechos</h3>
    <p>Tienes derecho a acceder, corregir, actualizar y eliminar tu información personal. Si deseas ejercer alguno de estos derechos, contáctanos a través de los medios proporcionados al final de esta página.</p>

    <h3>Actualizaciones de la política de privacidad</h3>
    <p>Podemos realizar actualizaciones periódicas a nuestra política de privacidad. Te recomendamos revisar esta página de vez en cuando para estar al tanto de cualquier cambio importante.</p>

    <h3>Contacto</h3>
    <p>Si tienes alguna pregunta, inquietud o solicitud relacionada con nuestra política de privacidad, no dudes en contactarnos a través de los siguientes medios:</p>
  <div class="actualizacion-politicas">
    <ul>
        <li>Teléfono: <a href="tel:+5492665290020"> +5492665290020</a></li>
        <li>Correo electrónico: <a href="mailto:neotecs-dev@neotecs.tech">neotecs-dev@neotecs.tech</a></li>
        <li>Dirección postal: [CP5770]</li>
    </ul>
  </div>
    </div>
    <div class="actualizacion-politicas">
            <p id="last">Última actualización: [29/06/2023]</p>
            <p>Estas políticas de uso y condiciones están sujetas a cambios sin previo aviso. Te recomendamos revisar
            periódicamente esta página para mantenerte informado(a) de cualquier actualización.</p>
            </div>
            </div>
           </div>
        </section>
    
            <!-- Footer -->

 <footer>
    <a href="#top" class="arriba">
        <i class="fa-solid fa-caret-up"></i>
    </a>
    <a href="index.html" class="home">
        <i class="fa-solid fa-home"></i> Volver al inicio
    </a>
    <br>
    <br>
 <div class="redes">
        <p>Compartir esta web en redes sociales</p>
        <button title="Facebook" onclick="compartirFacebook()"><i id="facebook" class="fa-brands fa-facebook-f"></i></button>
        <button title="Twitter" onclick="compartirTwitter()"><i id="twitter" class="fa-brands fa-twitter"></i></button>
        <button title="Whatsapp" onclick="compartirWhatsapp()"><i id="whatsapp" class="fa-brands fa-whatsapp"></i></button>
        <button title="Linked In" onclick="compartirLinkedIn()"><i id="linkedin" class="fa-brands fa-linkedin"></i></button>
        <button title="Dar ❤️"><a href="https://mpago.la/2LxVoxE"><i id="love" class="fa-solid fa-hand-holding-heart"></i></a></button>
    </div>
    <div class="secciones">

            <a href="https://www.instagram.com/calcagni_gabriel26?ishid=ZDdkNTZiNTM=" title="Desarrollador">
                <ul>
                    <li>Made with 💜 by<span class="color-acento"> SolidSnk86</span></li>
                </ul>
            </a>
        </div>
       <p>Todos los derechos reservados &copy;Neotecs Informática 2023</p>
</footer>

<script src="index.js?v=1"></script>

</body>
</html>
