<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Calcagni Gabriel">
    <title>Punto de Acceso</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="icon" type="image/x-icon" href="img/wifi.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <section id="SomosNeoTecs">
        <h2>Configuración <span class="color-acento">Punto de Acceso Tp-Link</span></h2>
        
        <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/neotecs.tech-master/index.html">Inico</a></li>
            <li class="breadcrumb-item"><a href="/neotecs.tech-master/templates/aprende.html">/ Configuración Modos</a></li>
            <li class="breadcrumb-item active">/ Punto de Acceso</li>
        </ol>
       </div>

        <p>Este artículo aplica a los siguientes modelos:
            <span class="color-acento"><strong>CPE510 , CPE610 , CPE220 , CPE210 , CPE520 , CPE605.</strong></span>
        </p>
        <p>Vamos a configurar la CPE en modo punto de acceso:</p>
        <hr>
        <p>Para realizarlo de la PC:</p>
        <p>Desde una PC con Sistema Operativo de Windows, nos dirigimos a panel de control, para acceder a él,
            presionamos el botón WIN + R y escribimos:<strong> ncpa.cpl</strong>, le damos enter.<br>
            En Red o (Ethernet) hacemos clic derecho sobre el ícono, nos dirijimos a propiedades.
            Dónde está la opción (Habilitar el protocolo de Internet versión 4 (TCP/IPv4)), hacemos doble-clic.
            Seleccionamos en (Usar la siguiente dirección IP). Ponemos lo siguiente:</p>
        <p><strong>Dirección IP: 192.168.0.100 | Máscara de sub-red: 255.255.255.0</strong></p>
        <hr>
        <p>Vista del menú principal Pharos OS:</p>
        <br>
        <div class="">
            <img src="/neotecs.tech-master/img/puntoacceso1.png" alt="imágen menú principal pharos os" id="imgAP">
        </div>
        <p>En la pestaña de opciones vamos a la pestaña (inalámbrico), para configurar nombre y contraseña del AP:</p>
        <div class="">
            <img src="/neotecs.tech-master/img/puntoacceso2.png" alt="imágen menú inalámbrico pharos os." id="imgAP">
        </div>
        <p>A continiación, en el apartado de (configuración del AP inalámbrico), ponemos el nombre del AP, vamos a modo de
            seguridad y seleccionamos (WPA-PSK),
            en versión seleccionamos (WPA2), tipo de encriptación (AES).<br>
            Ponemos una contraseña que obtenga 8 caractéres, alfanumérica y hacemos clic en el botón (Aplicar). Guardamos la
            configuración:
        </p>
        <div class="">
            <img src="/neotecs.tech-master/img/puntoacceso3.png" alt="imágen menú inalámbrico pharos os2" id="imgAP">
        </div>
        <p>Una vez hayamos guardado la configuración el equipo está listo para funcionar como Punto de Acceso,
            ya sea de 2.4 Ghz. o de 5 Ghz. Podemos ingresar al AP mediante samrtphones, notebooks, otra antena en modo
            Cliente, etc.
            Escaneamos y buscamos el AP para conectarnos.
        </p>
        <hr>
    </section>
    
    
    <script src="/neotecs.tech-master/scripts/index.js"></script>
</body>
</html>
