<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Calcagni Gabriel">
    <title>Modo Router</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="icon" type="image/x-icon" href="/neotecs.tech-master/img/wifi.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <section id="SomosNeoTecs">
    <h2>Configurar <span class="color-acento">Modo Router Tp-Link</span></h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/neotecs.tech-master/index.html">Inico</a></li>
            <li class="breadcrumb-item"><a href="/neotecs.tech-master/templates/aprende.html">/ Configuración Modos</a></li>
            <li class="breadcrumb-item active">/ Router</li>
        </ol>
       </div>
    <hr>
    <br>
    <div class="config-router">
        <p><strong>Definición:</strong> Es similar al Router inalámbrico doméstico, el dispositivo en modo Router AP se conecta al módem por cable / ADSL raíz. La diferencia radica en que el área de cobertura de este dispositivo es más amplia. Los teléfonos inteligentes, computadoras portátiles y otros clientes inalámbricos pueden compartir una red de área amplia a través del acceso a la red inalámbrica que proporciona este dispositivo.

                Se toma CPE como ejemplo.
                Acceder a la página de gestión web de CPE
                Siga este Link para acceder a la interfaz web de CPE.<br>
                Ejecutar configuración rápida:
                <br>Paso 1:
                Vaya a Configuración rápida-> Elija "Router AP" -> Haga clic en<strong> Siguiente/ Next.</strong></p>
                <center>
                <div class="image-web">
                <img src="/neotecs.tech-master/img/How_to_Configure_the_AP_Router_Mode_on_the_CPE510image002.png" alt="how to configure-image.png" style="max-width:75%; height:auto;">
                </div>
                </center>
                <p>Paso 2:<br>
                    Elija el tipo de conexión WAN que está usando su ISP. Para la mayoría de los ISP de DSL y cable, utilizan IP dinámica. Si no está seguro. Consulte con el servicio de atención al cliente de su ISP.</p>
                    <br>
                <center>
                <div class="image-web">
                <img src="/neotecs.tech-master/img/How_to_Configure_the_AP_Router_Mode_on_the_CPE510image004.png" alt="imagen-pharos-os" style="max-width:75%;height:auto;">  
                </div>
                </center>
                <p>Los procedimientos son diferentes según el tipo de conexión que elija.<br>
                    <br>
                    1- Seleccione IP dinámica y haga clic en<strong> Siguiente/ Next.</strong><br>
                    2- Seleccione PPPoE, ingrese el nombre de usuario y la contraseña proporcionados por el ISP y luego haga clic en<strong> Siguiente/ Next.</strong></p>
                    <center>
                    <div class="image-web">
                <img src="/neotecs.tech-master/img/how-config-router-ap.png" alt="captura de pantalla pharos os" style="max-width:75%;height:auto;">
                    </div>
                </center>
                <p>3- Seleccione IP estática.Ingrese los parámetros de IP proporcionados por el ISP y luego haga clic en<strong> Siguiente/ Next.</strong></strong></p>
                <center>
                <div class="image-web">
                <img src="/neotecs.tech-master/img/how-config-router-ap2.png" alt="how-config-router-ap2.png" style="max-width:75%;height:auto;">
                </div>
                </center>
                <p> Paso 3:<br>
                    <br>
                    Personalice su nombre inalámbrico (SSID) y contraseña SSID: (Cambie el nombre de su nombre inalámbrico) Seguridad: WPA-PSK / WPA2-PSK Contraseña de PSK: (Cree una contraseña
                    privada) .<strong> Siguiente/ Next.</strong></p>
                    <center>
                    <div class="image-web">
                <img src="/neotecs.tech-master/img/how-config-router-ap3.png" alt="how-config-router-ap3.png" style="max-width:75%;height:auto;"><br>
                </div>
                 </center>
                <p>Paso 4:
                    Haga clic en: Finalizar y espere a que la configuración surta efecto, tarda aproximadamente 1 minuto.</p><br>
                    <center>
                    <div class="image-web">
                <img src="/neotecs.tech-master/img/how-config-router-ap4.png" alt="how-config-router-ap4.png" style="max-width:75%;height:auto;"><br>
                    </div>
                </center>
                <p>Reubicar el CPE<br>
                    Ahora puede desconectar la computadora del puerto LAN del adaptador PoE y conectar el módem / router principal a ese puerto LAN. Sus dispositivos inalámbricos pueden disfrutar de la Internet inalámbrica de CPE ahora. También puede conectar un dispositivo al puerto LAN1 de CPE para disfrutar de Internet por cable.<br>                     
                    Reversión final de la configuración de la computadora (para el sistema operativo Windows)<br>
                    Necesitamos volver a cambiar la configuración de IP en la computadora después de la configuración.
                    Busque Conexión de área local / Ethernet en la computadora.<br>
                    Si no recuerda el procedimiento, consulte las  FAQs nuevamente.<br>
                    ¿Cómo iniciar sesión en la página de administración web de CPE210 / CPE510?<br>
                    Vaya a Propiedades → Protocolo de Internet versión 4 (TCP / IP) → Seleccione "Obtener la dirección IP automáticamente" y "Obtener la dirección del servidor DNS automáticamente"
                    Haga clic en  OK  para salir.<br>
                    Haga clic en OK nuevamente para aplicar la configuración.<br></p>
                    <center>
                    <div class="image-web">
                <img src="/neotecs.tech-master/img/propiedades-ethernet2.png" alt="propiedades-ethernet2.png" style="max-width:50%;height:auto;">
                    </div>
                </center>
                <p>Reversión final de la configuración de la computadora
                    (para Mac OS X) Vaya a Apple-> Preferencias del sistema-> Red-> Resaltar Ethernet -> Configurar IPv4.Usando DHCP. Haga clic en Aplicar.</p><br>
                    <center>
                    <div class="image-web">
                <img src="/neotecs.tech-master/img/mac-imag-redes.png" alt="imagen-propiedades de red mac" style="max-width:75%;height:auto;">
                </div>
                 </center>
            </div>
            <hr>
            <p>Este artículo aplica a los siguientes modelos:
                <span class="color-acento"><strong> CPE510 , CPE610 , CPE220 , CPE210 , CPE520 , CPE605.</strong></span>
            </p>
    </section>

    <script src="/neotecs.tech-master/scripts/index.js"></script>
</body>
</html>
